<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <style>
      #head{
        z-index: 1000;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        color: white;
        background: linear-gradient(90deg, #000000, #333333);
        position: fixed;
        padding: 15px 0;
      }
      nav a{
        color: white;
        text-decoration: none;
        margin: 0 20px;
      }
      nav a:hover{
        color: rgb(216, 118, 118);
      }
  </style>
</head>
<body>
    <div id="head">
    <div class="nav-container">
      <h1>BlogStars</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/compose">Compose</a>
        <a href="/posts">Posts</a>
      </nav>
    </div>
  </div>
</body>
</html>