<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/home.css">

</head>
<body>
  <%- include("partials/header.ejs") %>
  <div id="start">
    <div class="text">
    <h1>Welcome to BlogStars</h1>
    <h2>Here you can upload and view blog posts</h2>
    </div>
    <div class="bt">
    <a href="/compose" class="btn">Click to Enter</a>
  </div>
  </div>
</body>
</html>